<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <bean id="hiService" class="github.yuanlin.service.HiServiceImpl" scope="singleton">
        <property name="helloService" ref="helloService"/>
    </bean>

    <bean id="helloService" class="github.yuanlin.service.HelloServiceImpl" scope="singleton">
        <property name="text" value="hello~"></property>
        <property name="hiService" ref="hiService"/>
    </bean>

    <bean id="testFactoryBean" class="github.yuanlin.service.TestFactoryBean" scope="singleton"/>

    <bean id="testPostProcessor" class="github.yuanlin.lifecycle.TestPostProcessor" scope="singleton"/>
    <bean id="testLifeCycle" class="github.yuanlin.lifecycle.TestLifeCycle" scope="singleton"/>
</beans>