<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userService" class="github.yuanlin.service.UserServiceImpl"/>

    <!--定义两个 advice-->
    <bean id="logArgsAdvice" class="github.yuanlin.advice.LogArgsAdvice"/>
    <bean id="logResultAdvice" class="github.yuanlin.advice.LogResultAdvice"/>
    <bean id="logThrowsAdvice" class="github.yuanlin.advice.LogThrowsAdvice"/>

    <bean id="logArgsAdvisor" class="github.yuanlin.aop.pointcutadvisor.AspectJExpressionPointcutAdvisor">
        <property name="advice" ref="logArgsAdvice" />
        <property name="expression" value="execution(* github.yuanlin.service.UserService.*(..))" />
    </bean>
    <!--记录 query* 的返回值-->
    <bean id="logResultAdvisor" class="github.yuanlin.aop.pointcutadvisor.AspectJExpressionPointcutAdvisor">
        <property name="advice" ref="logResultAdvice" />
        <property name="expression" value="execution(* github.yuanlin.service.UserService.*(..))" />
    </bean>
    <bean id="logThrowsAdvisor" class="github.yuanlin.aop.pointcutadvisor.AspectJExpressionPointcutAdvisor">
        <property name="advice" ref="logThrowsAdvice" />
        <property name="expression" value="execution(* github.yuanlin.service.UserService.*(..))" />
    </bean>

    <bean id="defaultAdvisorAutoProxyCreator" class="github.yuanlin.aop.autoproxy.DefaultAdvisorAutoProxyCreator"></bean>
</beans>